@charset "Shift_JIS";
/*
===========================================================================

【CSS名】         某ブラウザ物真似CSS
【制作者】        Narr
【配布責任者】    Narr
【初版公開日】    2006年08月10日
【公開日】        2015年12月31日
【連絡先URL】     http://www.geocities.jp/beta_reverse/index.html
【Version】       beta04

===========================================================================

▼ 概要
　2000年2月から2001年2月28日までのごく短い期間、あるインターネット閲覧・電
子郵便送受信機器が存在しました。当該CSSファイルは、この機器の機能の一部を再
現するためだけに、Narr(以下「制作者」)が個人で作成中のCSSです。特定の企
業・団体とは、一切の関係を持ちません。

▼ 免責
・制作者は当該CSSの品質を保証しません。
・当該CSSを使用した結果生じたあらゆる直接的・間接的損害について、制作者は
　一切関知しません。その損害に関してのあらゆる責任は、全て利用者が負います。
・当該CSSに欠陥が発見された場合、制作者はそれを修正、及び利用者へ連絡する
　責任を負いません。

*/
/* #################################################################### */
*{
font-family: 'モトヤLマルベリ3等幅','MotoyaLMaru W3 mono','AR丸ゴシック体M','Arphic Round-Gothic Medium JIS','HG丸ｺﾞｼｯｸM-PRO','HGMaruGothicMPRO','ぬかみそ昆布出汁','nukamiso_konbu','nukamiso',monospace !important;
font-size: 26px !important;
font-weight: normal !important;
font-style: normal !important;
line-height: 1.2 !important;
letter-spacing: 2px !important;
scrollbar-face-color: #CCCCCC !important;
scrollbar-track-color: #666666 !important;
scrollbar-arrow-color: #666666 !important;
scrollbar-3dlight-color: #000000 !important;
scrollbar-highlight-color: #000000 !important;
scrollbar-shadow-color: #000000 !important;
scrollbar-darkshadow-color: #000000 !important;
writing-mode: lr-tb !important;
}
/* #################################################################### */


/*
----- 2015年12月31日 beta04 -----
連絡先変更
br{letter-spacing:0 !important;}を削除

----- 2010年12月10日 beta03 -----
font-familyを'モトヤLマルベリ3等幅'優先に変更

----- 2009年05月10日 beta02 -----
font-familyを'ぬかみそ昆布出汁'優先に変更
font-sizeを28pxから26pxに変更

----- 2007年11月10日 beta01 -----
beta01

----- 2006年08月10日  -----
初版公開

*/



/*
[EOF]
*/
