@charset "UTF-8";

/* 2008-01-10 */

/* β-reverse基本CSS…の流用 */

*{
font-weight: normal;
font-style: normal;
font-variant: normal;
text-decoration: none;
text-transform: none;
text-align: left;
vertical-align: baseline;
margin: 0;
padding: 0;
}
*{
font-weight: inherit;
font-style: inherit;
font-variant: inherit;
text-decoration: inherit;
text-transform: inherit;
text-align: inherit;
}
b{font-weight: bold;}
i{font-style: italic;}
u{text-decoration: underline;}
s,del{text-decoration: line-through;}
kbd,pre,code,tt{font-size: medium;}
sub{vertical-align: sub;}
sup{vertical-align: super;}
html,body{
scrollbar-face-color: #3366FF;
scrollbar-track-color: #FFFFFF;
scrollbar-arrow-color: #FFFFFF;
scrollbar-3dlight-color: #6699FF;
scrollbar-highlight-color: #99CCFF;
scrollbar-shadow-color: #0033CC;
scrollbar-darkshadow-color: #000099;
}


/* ----------------------------------------------------------------- */
*{
font-family: 'ＭＳ ゴシック','MS Gothic','IPAゴシック','IPAGothic','nukamiso',sans-serif;
}


body{
font-size: medium;
color: #FFFFFF;
letter-spacing: 0.1em;
line-height: 1.7;
}
img{
cursor: help;
color: #FFFF66;/* altの文字色 */
background-color: #936;
}
acronym,dfn,abbr,span.abbr_help{
border-bottom: 1px dotted #FFFFFF;
cursor: help;
}
hr{
color: #FFFFFF;
background-color: #FFFFFF;
border: 1px solid #FFFFFF;
}
/* --------------------------------------------------------- */

ul{
list-style-type: disc;
list-style-position: outside;
}
ul ul{
list-style-type: circle;
}
ul ul ul{
list-style-type: square;
}
ul.list,ol.list{/* w3c的リスト */
padding-left: 2.5em;
border-left: 1em solid #66C;
}

/* --------------------------------------------------- */
/* tableタグ基本設定 */
table{
border-collapse: collapse;
empty-cells: show;
}

/* ---------------------------------------------------- */

dl.definition,
dl.character_list,
dl.note{
margin:0.5em 0;
}
dl.definition dt,
dl.character_list dt,
dl.note dt{
padding: 0.3em 0.5em;
border: 1px solid #CCCCFF;
background-color: #000033;
display: inline;
}
dl.definition dt:before,
dl.character_list dt:before,
dl.note dt:before{
content: "・";
}
dl.definition dd,
dl.character_list dd,
dl.note dd{
margin: 0 0 0.7em 0;
padding: 0.3em 0 0.3em 0.5em;
border-style: solid;
border-color: #CCCCFF;
border-width: 0px 0px 1px 1px;
}

/* リンク文字列共通設定 ----------------------------------- \*/
a{
text-decoration: underline;
}
div#korper a:link,
div#footer a:link{
color: #99FF00;
}
div#korper a:visited,
div#footer a:visited{
color: #FF99FF;
}
div#headnavi a:hover,
div#korper a:hover,
div#footer a:hover{
background-color: #0000CC ! important;
}
a:active{
position: relative;
top: 1px;
left: 1px;
}
a:focus{
border: 1px solid #FFFFFF ! important;
}



/* 特殊リンク文字設定 ----------------------------------- */

/* 特殊リンク　訪問前と訪問後が同じ色　ブロック状で枠あり */
/*共通の変数
id="headnavi"	ページ上ナビゲーション
id="footnavi"		ページ下リターン
table class="links"	外部サイトへのリンク集
*/

div#headnavi a:link,div#headnavi a:visited,
div#footnavi a:link,div#footnavi a:visited{
color: #99ff00 !important;
border: 1px solid #0099FF;
background-color: #000066;
}
div#menu a:hover,
div#headnavi a:hover,
div#footnavi a:hover,
a.bar:hover{
border-color: #ffffff ! important;
}


/* ページ上ナビゲーション */

div#headnavi{
background-color: #000033;
height:3.7em;
}
div#headnavi ul li{
display: inline;
}
div#headnavi ul li.headnavi_top a{
font-family: Arial,'Bitstream Vera Sans','ＭＳ ゴシック','MS Gothic','IPAゴシック','IPAGothic','さざなみゴシック','Sazanami Gothic',sans-serif;
font-weight: bold;
}
div#headnavi  ul li a{
padding: 0.5em;
float: left;
}
div#headnavi ul li.klasse{
padding: 0.5em;
border: 1px solid #999999;
float: left;
background-color: #333333;
cursor: help;
}

div#headnavi ul li.headnavi_here{
padding: 0.5em;
border: 1px solid #00CC00;
float: left;
background-color: #006600;
background-image: url('./css_img/headnavi_here.gif');
cursor: help;
}



/* 外部サイトへのリンク */
div#korper cite a:hover,
div#footer cite a:hover{
color: #000000 !important;
background-color: #FFFF66 ! important;
}


/* table 変数 -------------------------------------------- */
table.matrix{
background-color: #333333;
}
table.matrix th{
background-color: #000000;
text-align: center;
}
table.matrix,table.matrix th,table.matrix td{
border: 2px solid #999999;
}
table.matrix th,table.matrix td{
padding: 0.1em 0.3em;
}
table.matrix th{
vertical-align: middle;
}
table.matrix td{
vertical-align: top;
}
table.matrix caption{
text-align: center;
}
table.matrix.matrix_hauptgewicht tr:hover td{
background-color: #000000;
}

/* 基本ページ ------------------------------------- */

html{
background-color: #000033;
}
body{
margin: 1em auto;
width: 96%;
background-color: #003366;
}


/* p  --------------------------------------------- */
div#korper p{
text-indent: 1em;
margin: 0.3em 0;
}


/* 画像のカーソル */
img{
cursor: help;
}

/* 基本ページのh */
div#korper > h1{
font-size: 160%;
line-height: 1;
text-align: center;
margin: 4em 4% 1.5em 0;
padding: 0.5em 0;
border-width: 2px 2px 2px 0;
border-color: #FF6666;
border-style: solid;
background-color: #000033;
}
div#korper > h1:after,
div#korper > h1:before{
color: #FF9966;
content: " ● ";
}
div#korper > h2{
font-size: 100%;
margin: 1em 0 1em 4%;
padding: 0.3em 0 0.3em 1em;
border-width: 2px 0px 2px 2px;
border-color: #66FF66;
border-style: solid;
background-color: #000033;
}
div#korper > h2:before{
color: #66FF99;
content:" ■ ";
}
div#korper > h3{
font-size: 100%;
margin: 1em 4%;
padding: 0.3em 1em;
border: 2px solid #6666FF;
background-color: #000033;
}
div#korper > h3:before{
color: #6699FF;
content:" ▼ ";
}



/* --------------------------------------------------------- */

/* データをまとめる */
div#korper > div.collect{
margin: 1em auto;
width: 92%;
}


/* ページ情報 ==================================== */

div#footer{
padding: 1em 0;
background-color: #000033;
line-height: 140%;
}
div#footer h1{
font-size: 88%;
text-align: center;
background-color: #000066;
}

div#footer dl{
font-size: 88%;/* 80%ではIPAフォントでビットマップが表示されない。IE6,Fxは85%、Operaは88%以上 */
padding-left: 1em;
height: 8em;
background-color: #000000;
overflow: auto;
scrollbar-face-color: #003366;
scrollbar-track-color: #000033;
scrollbar-arrow-color: #0099FF;
scrollbar-3dlight-color: #000033;
scrollbar-highlight-color: #3399FF;
scrollbar-shadow-color: #000033;
scrollbar-darkshadow-color: #000000;
}
div#footer dt{
border-bottom: 1px solid #FF0000;
float: left;
width: 8em;
}
div#footer dd{
border-bottom: 1px solid #000000;
margin-left: 8em;
padding-left:0.5em;
}


/* ###################################################### */

/* 中途半端に辻褄あわせ */

div#header{
display: none;
}



