@charset "UTF-8";

/* β-reverse管理スタイルシート…の流用 */
/* 2008-01-10 */
*{
font-family:'Arial','ＭＳ ゴシック','MS Gothic','IPAゴシック','IPAGothic',sans-serif !important;
}
body{
color: #111111;
background-color: #EEEEEE;
}
/* ======= head ===================================== */

/* <head>を表示する */
head{
width: 100%;
display: block;
}

link,meta{
display: block;
width: 100%;
border-width: 1px 0;
border-style: solid;
border-color: #9c9;
}

/* ページタイトル表示 */
/*
title{
display: block;
position: fixed;
}
title:before{
content:"<title>";
}
title:after{
content:"</title>"
}
*/


/* サイトナビゲーション、スタイルシート表示 */
link{
background-color: #dfd;
}
link[rel]:before{
display: block;
padding:  0 0 0 0.5em;
content:"link rel="attr(rel)": href="attr(href);
font-weight: bold;
}
link[rel]:after{
display: block;
padding: 0 0 0 5em;
content:"title="attr(title);
font-weight: bold;
}
link:hover{
background-color: #EEFFEE;
}

/* meta */
meta{
background-color: #ffdddd;
}


meta[http-equiv]:before{
content:"http-equiv="attr(http-equiv)" content="attr(content);
font-weight: bold;
}
meta[name]:before{
content:"name="attr(name)" content="attr(content);
font-weight: bold;
}



/* ======== body ==================================== */
h1,h2,h3,h4,h5,h6,
dl,ul,ol,
p,div,
address,
fieldset,
span,font,a,b,i,u,s,li,dt,dd,del,pre,cite,
abbr,acronym,dfn,
table,tr,td,th,caption,thead,tfoot,tbody,
br,
fieldset,legend,
input,textarea,label,form,button,
big,small,
ruby,rb,rp,rt,
em,strong,blockquote,q,
hr,ins,area,blink,body,center,code,dir,frame,frameset,iframe,
img,kbd,map,marquee,noframes,noscript,object,option,optgroup,
samp,script,select,var{
border: 1px solid #f66;
}
h1:before,h1:after,
h2:before,h2:after,
h3:before,h3:after,
h4:before,h4:after,
h5:before,h5:after,
h6:before,h6:after,
dl:before,dl:after,
ul:before,ul:after,
ol:before,ol:after,
p:before,p:after,
div:before,div:after,
address:before,address:after,
fieldset:before,fieldset:after,
span:before,span:after,
font:before,font:after,
a:before,a:after,
b:before,b:after,
i:before,i:after,
u:before,u:after,
s:before,s:after,
li:before,li:after,
dt:before,dt:after,
dd:before,dd:after,
del:before,del:after,
pre:before,pre:after,
cite:before,cite:after,
abbr:before,abbr:after,
acronym:before,acronym:after,
dfn:before,dfn:after,
table:before,table:after,
tr:before,tr:after,
td:before,td:after,
th:before,th:after,
thead:before,thead:after,
tfoot:before,tfoot:after,
tbody:before,tbody:after,
caption:before,caption:after{
background-color: #FF0;
font-weight: bold;
font-style: normal;
border: 1px solid #f66;
display: inline !important;
}

br:before,br:after,
fieldset:before,fieldset:after,
legend:before,legend:after,
input:before,input:after,
textarea:before,textarea:after,
label:before,label:after,
form:before,form:after,
button:before,button:after,
big:before,big:after,
small:before,small:after,
ruby:before,ruby:after,
rb:before,rb:after,
rp:before,rp:after,
rt:before,rt:after{
background-color: #FF0;
font-weight: bold;
font-style: normal;
border: 1px solid #f66;
display: inline !important;
}



em:before,em:after,
strong:before,strong:after,
blockquote:before,blockquote:after,
q:before,q:after,
hr:before,hr:after,
ins:before,ins:after,
area:before,area:after,
blink:before,blink:after,
body:before,body:after,
center:before,center:after,
code:before,code:after,
dir:before,dir:after,
frame:before,frame:after,
frameset:before,frameset:after,
iframe:before,iframe:after,
img:before,img:after,
kbd:before,kbd:after,
map:before,map:after,
marquee:before,marquee:after,
noframes:before,noframes:after,
noscript:before,noscript:after,
object:before,object:after,
option:before,option:after,
optgroup:before,optgroup:after,
samp:before,samp:after,
script:before,script:after,
select:before,select:after,
var:before,var:after{
background-color: #FF0;
font-weight: bold;
font-style: normal;
border: 1px solid #f66;
display: inline !important;
}



/* h1,h2,h3,h4,h5,h6 */
h1:before{content:"<h1>";}
h1:after{content:"</h1>";}
h2:before{content:"<h2>";}
h2:after{content:"</h2>";}
h3:before{content:"<h3>";}
h3:after{content:"</h3>";}
h4:before{content:"<h4>";}
h4:after{content:"</h4>";}
h5:before{content:"<h5>";}
h5:after{content:"</h5>";}
h6:before{content:"<h6>";}
h6:after{content:"</h6>";}

/* dl,ul,ol */
dl:before{content:"<dl>";}
dl:after{content:"</dl>";}
ul:before{content:"<ul>";}
ul:after{content:"</ul>";}
ol:before{content:"<ol>";}
ol:after{content:"</ol>";}

/* p,div */

p:before{content:"<p>";}
p:after{content:"</p>";}
div:before{content:"<div>";}
div:after{content:"</div>";}

/* address */
address:before{content:"<address>";}
address:after{content:"</address>";}

/* fieldset */
fieldset:before{content:"<fieldset>";}
fieldset:after{content:"</fieldset>";}

/* span */
span:before{content:"<span>";}
span:after{content:"</span>";}

/* font */
font:before{content:"<font>";}
font:after{content:"</font>";}

/* a */
a:before{content:"<a>";}
a:after{content:"</a>";}

/* b */
b:before{content:"<b>";}
b:after{content:"</b>";}


/* i */
i:before{content:"<i>";}
i:after{content:"</i>";}

/* u */
u:before{content:"<u>";}
u:after{content:"</u>";}

/* s */
s:before{content:"<s>";}
s:after{content:"</s>";}

/* li */
li:before{content:"<li>";}
li:after{content:"</li>";}

/* dt,dd */
dt:before{content:"<dt>";}
dt:after{content:"</dt>";}
dd:before{content:"<dd>";}
dd:after{content:"</dd>";}

/* del */
del:before{content:"<del>";}
del:after{content:"</del>";}

/* pre */
pre:before{content:"<pre>";}
pre:after{content:"</pre>";}

/* cite */
cite:before{content:"<cite>";}
cite:after{content:"</cite>";}

/* abbr,acronym,dfn */
abbr:before{content:"<abbr>";}
abbr:after{content:"</abbr>";}

acronym:before{content:"<acronym>";}
acronym:after{content:"</acronym>";}

dfn:before{content:"<dfn>";}
dfn:after{content:"</dfn>";}

/* table,tr,td,th,caption,thead,tfoot,tbody */
table:before{content:"<table>";}
table:after{content:"</table>";}
tr:before{content:"<tr>";}
tr:after{content:"</tr>";}
td:before{content:"<td>";}
td:after{content:"</td>";}
th:before{content:"<th>";}
th:after{content:"</th>";}
caption:before{content:"<caption>";}
caption:after{content:"</caption>";}
thead:before{content:"<thead>";}
thead:after{content:"</thead>";}
tfoot:before{content:"<tfoot>";}
tfoot:after{content:"</tfoot>";}
tbody:before{content:"<tbody>";}
tbody:after{content:"</tbody>";}


/* br */

br:before{content:"<br>"}
br:after{content:"</br>"}

/* fieldset,legend */
fieldset:before{content:"<fieldset>";}
fieldset:after{content:"</fieldset>";}

legend:before{content:"<legend>";}
legend:after{content:"</legend>";}

/* input,textarea,label,form,button */
input:before{content:"<input>";}
input:after{content:"</input>";}

textarea:before{content:"<textarea>";}
textarea:after{content:"</textarea>";}

label:before{content:"<label>";}
label:after{content:"</label>";}

form:before{content:"<form>";}
form:after{content:"</form>";}
button:before{content:"<button>";}
button:after{content:"</button>";}

/* big,small */
big:before{content:"<big>";}
big:after{content:"</big>";}

small:before{content:"<small>";}
small:after{content:"</small>";}

/* ruby,rb,rp,rt */
ruby:before{content:"<ruby>";}
ruby:after{content:"</ruby>";}
rb:before{content:"<rb>";}
rb:after{content:"</rb>";}
rp:before{content:"<rp>";}
rp:after{content:"</rp>";}
rt:before{content:"<rt>";}
rt:after{content:"</rt>";}

/* em,strong,blockquote,q */
em:before{content:"<em>";}
em:after{content:"</em>";}
strong:before{content:"<strong>";}
strong:after{content:"</strong>";}
blockquote:before{content:"<blockquote>";}
blockquote:after{content:"</blockquote>";}
q:before{content:"<q>";}
q:after{content:"</q>";}

/* hr,ins,area,blink,body,center,code,dir,frame,frameset,iframe */

hr:before{content:"<hr>";}
hr:after{content:"</hr>";}
ins:before{content:"<ins>";}
ins:after{content:"</ins>";}
area:before{content:"<area>";}
area:after{content:"</area>";}
blink:before{content:"<blink>";}
blink:after{content:"</blink>";}
body:before{content:"<body>";}
body:after{content:"</body>";}
center:before{content:"<center>";}
center:after{content:"</center>";}
code:before{content:"<code>";}
code:after{content:"</code>";}
dir:before{content:"<dir>";}
dir:after{content:"</dir>";}
frame:before{content:"<frame>";}
frame:after{content:"</frame>";}
frameset:before{content:"<frameset>";}
frameset:after{content:"</frameset>";}
iframe:before{content:"<iframe>";}
iframe:after{content:"</iframe>";}

/* img,kbd,map,marquee,noframes,noscript,object,option,optgroup */
img:before{content:"<img>";}
img:after{content:"</img>";}
kbd:before{content:"<kbd>";}
kbd:after{content:"</kbd>";}
map:before{content:"<map>";}
map:after{content:"</map>";}
marquee:before{content:"<marquee>";}
marquee:after{content:"</marquee>";}
noframes:before{content:"<noframes>";}
noframes:after{content:"</noframes>";}
noscript:before{content:"<noscript>";}
noscript:after{content:"</noscript>";}
object:before{content:"<object>";}
object:after{content:"</object>";}
option:before{content:"<option>";}
option:after{content:"</option>";}
optgroup:before{content:"<optgroup>";}
optgroup:after{content:"</optgroup>";}

/* samp,script,select,var */
samp:before{content:"<samp>";}
samp:after{content:"</samp>";}
script:before{content:"<script>";}
script:after{content:"</script>";}
select:before{content:"<select>";}
select:after{content:"</select>";}
var:before{content:"<var>";}
var:after{content:"</var>";}







