@charset "UTF-8";

/* 2010-12-08 */

/*
======================================================================
=                                                                    =
=                            Edelweiss                               =
=                                                                    =
======================================================================
*/

/*
-moz-border-radius: ;
-moz-opacity: ;
-o-background-size: ;
-webkit-background-size: ;
-khtml-background-size: ;

*/



/* ###################### 初期化 ########################### */

*{
font-weight: normal;
font-style: normal;
font-variant: normal;
font-size: medium;
text-decoration: none;
text-transform: none;
text-align: left;
vertical-align: baseline;
margin: 0;
padding: 0;
}
*{
font-weight: inherit;
font-style: inherit;
font-variant: inherit;
font-size: inherit;
text-decoration: inherit;
text-transform: inherit;
text-align: inherit;
}
b{font-weight: bold;}
i{font-style: italic;}
u{text-decoration: underline;}
s,del{text-decoration: line-through;}
kbd,pre,code,tt{font-size: medium;}
sub{vertical-align: sub;}
sup{vertical-align: super;}



/* ######################### 初期化ここまで ################################## */
/* ######################### 準初期設定ここから ############################## */
/* テキスト--------------------------------------------------- */
body{
letter-spacing: 0.05em;
}
br{
letter-spacing: 0;/* IE6バグ潰し */
}

/* リンク文字列共通設定 ----------------------------------- */
a{
text-decoration: underline;
}
div#korper a:link{
color: #3333ff;
}
div#korper a:visited{
color: #993399;
}
div#korper a:hover{
background-color: #ccccff;
outline: 1px solid #6666ff;
}


div#footer a:link{
color: #6699ff;
}
div#footer a:visited{
color: #FF9999;
}
div#footer a:hover{
background-color: #0000CC;
outline: 1px solid #6666ff;
}
a:active{
position: relative;
top: 1px;
left: 1px;
}

/* スクロールバー */
/*
html,body{
scrollbar-face-color: #FFFFFF !important;
scrollbar-track-color: #000000 !important;
scrollbar-arrow-color: #000000 !important;
scrollbar-3dlight-color: #999999 !important;
scrollbar-highlight-color: #cccccc !important;
scrollbar-shadow-color: #666666 !important;
scrollbar-darkshadow-color: #333333 !important;
}
*/

/* tableタグ基本設定 */

table{
border-collapse: collapse;
empty-cells: show;
}

/* 画像 */
img:hover{
cursor: help;
}

/* テキスト選択*/
body ::selection{
color: #fff;
background-color: #396;
}
div#header ::-moz-selection{
color: #fff;
background-color: #396;
}
/* ---------------------------------------------------- */

/* ######################### 準初期設定ここまで ############################## */

/* ========================= body ================================ */

/* 背景画像指定・固定 */


html > body{
background-attachment: fixed;
background-image: url('./2007-11-10/2007-11-10_002.png');
background-repeat: no-repeat;
background-position: right bottom;
}


body{
font-size: medium;
color: #333;
background-color: #ffffff;
line-height: 1;
}

/* ========================= header ============================== */

div#header{
background-color: #000000;
color: #ffffff;
}

div#header p.encoding{
text-align: right;
padding: 16px 5% 0 0;
}

/* ========================= korper ============================ */

div#korper{
border-left: 16px solid #000000;
}
div#korper p{
text-indent: 1em;
line-height: 1.5;
margin: 0.5em 0;
}
div#korper div.collect > p:hover{
background-attachment: fixed;
background-repeat: no-repeat;
background-position: right bottom;
background-image: url('./2007-11-10/2007-11-10_004.png');
}



/* ------------------ H --------------------- */

div#korper h1{
color: #FFFFFF;
background-color: #000000;
font-size: 250%;
padding: 0 0 1em 7%;
/*
text-shadow: 0.05em 0.05em 0.1em #999999;
*/
}
div#korper h1:hover:after{
font-size: medium;
margin-left: 0.5em;
content: 'はオマケです。';
}


/* IE6 */
div#korper h2{
color: #000000;
background-color: #f0f0f0;
font-size: 160%;
margin: 1.5em 16px 1em 0;
padding: 1em 0 1em 10%;
width: auto;
border-width: 1px 1px 1px 24px;
border-style: solid;
border-color: #000000;
}


/* Fx,Opera用 IE6避け */
div#korper > h2{
background-attachment: fixed;
background-repeat: no-repeat;
background-position: right bottom;
background-image: url('./2007-11-10/2007-11-10_001.png');
}

/* IE6 */
div#korper h3{
color: #000000;
background-color: #f0f0f0;
font-size: 140%;
margin: 1.5em 16px 1em 0px;
padding: 0.5em 0 0.5em 10%;
width: auto;
border-width: 1px 1px 1px 16px;
border-style: solid;
border-color: #000;
}


/* Fx,Opera用 IE6避け */
div#korper > h3{
background-attachment: fixed;
background-repeat: no-repeat;
background-position: right bottom;
background-image: url('./2007-11-10/2007-11-10_001.png');
}
/* ------------------ div.collect --------------------- */
div#korper div.collect{
margin: 0 16px;
}



/* ------------------ 註釈 --------------------- */
/* IE6 */
div#korper div.collect dl.note{
width: auto;
margin: 1.5em auto;
background-color: #f0f0f0;
border: 1px solid #999999;
padding: 0 1em;
}

/* Fx,Opera用 IE6避け */
div#korper div.collect > dl.note{
/*
-moz-border-radius: 0 0 0 3em;
*/
background-attachment: fixed;
background-repeat: no-repeat;
background-position: right bottom;
background-image: url('./2007-11-10/2007-11-10_007.gif');
}

div#korper div.collect dl.note:hover{
background-color: #f8f8f8;
background-image: url('./2007-11-10/2007-11-10_004.png');
border-color: #000000;
/*
opacity: 0.75;
*/
}

div#korper div.collect dl.note dt{
display: none;
}

/* --------------- 通常定義リスト ----------------- */
div#korper div.collect dl.definition{
margin:0.5em 0;
}
div#korper div.collect dl.definition dt{
padding: 0.3em 0.5em;
border: 1px solid #999999;
background-color: #f0f0f0;
display: block;
}
div#korper div.collect dl.definition > dt{
background-image: url('./2007-11-10/2007-11-10_007.gif');
background-position: right bottom;
background-repeat: no-repeat;
background-attachment: fixed;
}
div#korper div.collect dl.definition dd{
margin: 0 0 0.7em 0;
padding: 0.3em 0 0.3em 0.5em;
border-style: solid;
border-color: #999999;
border-width: 0px 0px 1px 1px;
}
div#korper div.collect dl.definition > dd{
background-image: url('./2007-11-10/2007-11-10_007.gif');
background-position: right bottom;
background-repeat: no-repeat;
background-attachment: fixed;
}
div#korper div.collect dl.definition dd:hover{
background-image: url('./2007-11-10/2007-11-10_004.png');
}

/* ------------- 通常リスト -------------------- */
div#korper ul.list{
list-style-position: outside;
list-style-type: circle;
margin: 0.5em 0 0.5em 0;
padding: 0 0 0 1.5em;
line-height: 1.2;
border-left: 1em solid #cccccc;
}
/*
div#korper ul.list li{
}
*/

/* ------------- 文字リスト -------------------- */
div#korper dl.character_list{
color: #333333;
}


div#korper dl.character_list dt{
margin: 0.5em 0 0.1em 0.3em;
display: list-item;
list-style-position: inside;
list-style-type: square;
}
/* IE6 */
div#korper dl.character_list dd{
padding: 1em;
color: #333333;
background-color: #eeeeee;
border: 1px solid #999999;
letter-spacing: 0;
line-height: 1;
}

/* Fx,Opera用 IE6避け */
div#korper dl.character_list dt + dd{
/*
-moz-border-radius: 0 0 0 3em;
*/
background-attachment: fixed;
background-repeat: no-repeat;
background-position: right bottom;
background-image: url('./2007-11-10/2007-11-10_007.gif');
}
div#korper dl.character_list dd:hover{
color: #000000;
border-color: #000000;
background-color: #f8f8f8;
background-image: url('./2007-11-10/2007-11-10_004.png');
}


/* --------------- 表 -------------------------- */
/* IE6 */
div#korper div.collect table.matrix{
margin: 1em auto;
border: 1px solid #000000;
background-color: #f0f0f0;
}

/* Fx,Opera用 IE6避け */
div#korper div.collect > table.matrix{
background-attachment: fixed;
background-repeat: no-repeat;
background-position: right bottom;
background-image: url('./2007-11-10/2007-11-10_007.gif');
}
div#korper table.matrix caption{
display: none;
}

div#korper table.matrix th,
div#korper table.matrix td{
margin: 0;
padding: 0.1em;
border: 1px solid #999999;
}

div#korper table.matrix th{
vertical-align: middle;
text-align: center;
}

div#korper div.collect table.matrix:hover{
background-color: #f8f8f8;
background-image: url('./2007-11-10/2007-11-10_004.png');
}







/* ======================== footer =========================== */

div#footer{
color: #FFFFFF;
background-color: #000000;
padding: 1.5em 0 0 0;
}

div#footer h1{
text-align: center;
margin: 0 auto;
width: 90%;
padding: 0.5em 0;
border-top: 1px solid #999999;
border-bottom: 1px solid #999999;
}
div#footer dl{
width: 90%;
margin: 1em auto 0 auto;
padding: 0;
line-height: 1.2;
height: 14em;
overflow: auto;
}
/*
height,overflowで固定
IE6では横にずれる。a:hover状態であるべき位置に移動する
*/

div#footer dl dt{
float: left;
width: 9em;
color: #eeeeee;
padding: 0 0 0 0;
border-bottom: 1px solid #666666;
}
div#footer dl dd{
color: #eeeeee;
margin: 0 0 0 10em;
padding: 0 0 1px 0.5em;
}












